{% extends 'base.html' %}

{% block title %}Book Suggestion{% endblock %}

{% block main %}


<div class="container">
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal text-center">Welcome {{current_user.first_name}}, Suggest Your Book Here</h4>
      </div>
      <div class="card-body">
        <form action="dashboard" method="post" enctype="multipart/form-data">
          <label for="book_title">Book Title</label>
          <input type="text" class="form-control" name="book_title" id="book_title" value="" required>
          <br>
          <label for="book_author">Book Author</label>
          <input type="text" class="form-control" name="book_author" id="book_author" value="" required>
          <br>
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
      </div>
    </div>

  </div>

<!--  {% if codes %}-->
<!--  <h2>Codes you have created:</h2>-->
<!--  <ul>-->
<!--    {% for code in codes %}-->
<!--    <a href="{{ url_for('urlshort.redirect_to_url', code=code) }}">-->
<!--      <li>{{ code }}</li>-->
<!--    </a>-->
<!--    {% endfor %}-->
<!--  </ul>-->
<!--  {% endif %}-->
</div>

{% endblock %}
